@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }
}
.special-font b{
  font-family: "zentry";
  font-feature-settings: "ss01" on;
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .animated-title{
    @apply flex flex-col gap-1 text-7xl uppercase leading-[0.8] text-white sm:px-32 md:text-[6rem];
  }
  .animated-word{
    @apply special-font font-zentry font-black  ;
  }
}
